rtl/csrc/*
rtl/simv
rtl/simv.daidir/*
rtl/compile.log
rtl/*/build/*
rtl/*/csrc/*
rtl/*/simv
rtl/*/simv.daidir/*
rtl/*/compile.log
rtl/vc_hdrs.h
tb/csrc/*
tb/simv
tb/simv.daidir/*
tb/compile.log
tb/*/build/*
tb/*/csrc/*
tb/*/simv
tb/*/simv.daidir/*
tb/*/ucli.key
tb/*/compile.log
tb/*/run.log
tb/*/DVEfiles/*
tb/*/vcdplus.vpd
tb/*/inter.vpd
tb/vc_hdrs.h
